.wrapper {
  text-align: center;
  min-width: 100px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10px 32px;
  border-radius: 40px;
  border: 2px solid transparent;
  cursor: pointer;
  + .wrapper{
    margin-left: 16px;
  }
}

.icon + .title, .title + .icon {
  margin-left: 8px;
}

// Button type
.primary {
  background-color: var(--New-Primary);
  color: var(--white);
  &:hover {
    background-color: #43cae8;
    transition: ease-in;
    transition-duration: 0.3s;
  }
}

.outline {
  color: #cf7d4e;
  border-color: currentColor;
  background-color: var(--white);
  &:hover {
    background-color: rgba(243, 96, 28, 0.074);
    transition: ease-in;
    transition-duration: 0.3s;
  }
}

//Button size
.large {
  min-width: 297px;
  padding: 20px 32px;
}

.medium {
  min-width: 100px;
  padding: 13px 32px; 
}
